/* ==> MARKET <== */
.Market-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Market-text {
  text-align: center;
  font-family:inter;
  font-style: bold;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
}

.Market-images {
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
}

.Market-images img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 100px;
}

/* ==> FEATURES <==*/
.Feature-container .Feature-text-part p{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.Feature-container .Feature-image-part img{
  padding: 0 2%;
}

/* ==> SPONSERS <== */

.Sponsers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px; 
}

.Sponsers-container .proverbs {
  padding-left: -300px;
}

.Sponsers-container .proverbs .proverb-card {
  background-color: #fff;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 80px;
  border: 2px solid #ccc;
  width: 175%;
  height: auto;
}

.Sponsers-container .proverbs .proverb-card p{
  font-size: 30px;
  font-weight: bold;
}

.Sponsers-image img {
  max-width: 100%;
  height: auto;
  padding-left: 100px;
}



/*----------------Media Query-----------------*/

@media (max-width: 600px) {

  /*--------Market----------*/

  .Market-container{
    align-items: center;

  }
  .Market-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex:1;

  }
  .Market-container .Market-images{
    flex-direction: column;
  }

  /*---------Feature---*/

  .Feature-container .Feature-image-part img{
    width: auto;
    flex-direction: column;
    margin: 12px 0;
  }

  /*-------Sponsers---*/

  .Sponsers-container {
    flex-direction: column;
    align-items: center;
  }

  .proverbs {
    max-width: 100%;
    text-align: center;
  }

  .Sponsers-image {
    align-items: center;
  }
}